<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>旅游大数据展示系统</title>
    <link rel="stylesheet" href="../static/before/css/main.css">
</head>
<body>
<div id="navigation">
    <div class="header">
        <p class="p1">
            <!--<img src="./images/guohui.png" alt="">-->
        </p>
        <p  class="p2"></p>
        <p  class="p3">旅游大数据展示系统</p>
    </div>
    <div class="contain">
        <ul>
            <li>
                <a href="/test" target="_blank">
                    <img src="../static/before/images/jinrong.png" alt="">
                    <span>大数据展示</span>
                </a>
            </li>
            <li>
                <a href="/test2" target="_blank">
                    <img src="../static/before/images/xinyong.png" alt="">
                    <span>旅游板块分析-游客</span>
                </a>
            </li>
            <li>
                <a href="/test33" target="_blank">
                    <img src="../static/before/images/fengxian.png" alt="">
                    <span>旅游板块分析-商家</span>
                </a>
            </li>
            <li>
                <a href="/test4" target="_blank">
                    <img src="../static/before/images/chanye.png" alt="">
                    <span>舆情分析</span>
                </a>
            </li>
        </ul>
    </div>

</div>
</body>

</html>