<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>旅游大数据展示</title>
     <link rel="stylesheet" href="../static/before/css/wodry.css">
    <link rel="stylesheet" href="../static/before/css/index.css">
    <link rel="stylesheet" href="../static/before/css/public.css">
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="http://cdn.zaixianke.com/china.js"></script>
    <script src="../static/before/js/jquery.min.js"></script>
    <script>
        $(function () {
            $('.myscroll').myScroll({
                speed: 60, //数值越大，速度越慢
                rowHeight: 38 //li的高度
            });
        });

        $(document).ready(function () {
            var whei = $(window).width()
            $("html").css({ fontSize: whei / 22 });
            $(window).resize(function () {
                var whei = $(window).width();
                $("html").css({ fontSize: whei / 22 })
            });
        });
    </script>
</head>
<body>

<div class="main">
    <div class="header">
        <div class="header-left fl" id="time"></div>
        <div class="header-center fl">
            <div class="header-title">
                旅游大数据展示
            </div>
            <div class="header-img"></div>
        </div>
        <div class="header-right fl"></div>
        <div class="header-bottom fl"></div>

    </div>

    <div class="center">
        <div class="center-left fl">
            <div class="left-top rightTop border">
                <!--<h1 id="ceshi">数据可视化</h1>-->
                <div class="title">基本信息</div>
                <div class="top-list">
                    <p>生活不止眼前的苟且，还有诗和远方</p>
                    <ul>
                        <li>旅游大省：15个</li>
                        <li>热门景区：3545万件</li>
                        <li>人流量：1254万</li>
                        <li>总包裹量：7854万</li>
                        <li>在线商家：68万</li>
                        <li>已发件：154万</li>
                    </ul>
                </div>

            </div>
            <div class="left-cen rightTop border">
                <div class="title">人流量排名</div>

                <ul class="company" id="ceshi">

                    <li class="wodryRX0">
                        <span>NO.1</span>
                        湖南省，人流量累计54148</li><br/>
                    <li class="wodryRX1">NO.2
                        江西省，人流量累计6854</li>
                    <br/>
                    <li class="wodryRX2">NO.3
                        湖北省，人流量累计1213</li>
                    <br/>
                    <li class="wodryRX3">NO.4
                        河南省，人流量累计495</li>
                    <br/>
                    <li class="wodryRX4">NO.5
                        四川省，人流量累计413</li>
                </ul>

            </div>
            <div class="left-bottom rightTop border">
                <div class="title">旅游团队类型占比</div>
                <div class="bottom-b">
                    <div id="chart3" class="allnav"></div>
                </div>

            </div>
        </div>
        <div class="center-cen fl">
           <div class="cen-top rightTop border">
                <div id="box22" style="width: 700px; height: 700px;"></div>
            </div>
            <div class="cen-bottom rightTop border">
                <div class="title">月统计</div>
{#                <div class="bottom-b">#}
{#                    <div id="chart4" class="allnav"></div>#}
{#                    <div id="ffff" class="allnav"></div>#}
{#                </div>#}
                <div id="ffff"></div>#}

            </div>
        </div>
        <div class="center-right fr">
            <div class="right-top rightTop border">
                <div class="title">旅行社人流量排行</div>

                 <div class="echart wenzi">
                                    <div class="gun">
                                    <span>排名</span>
                                    <span>旅行社名称</span>
                                    <span>人流量</span>
                                </div>
                                    <div id="FontScroll" class="myscroll">
                                         <ul>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>1</b>
            </span>
            <span>湖南嗨周末国际</span>
            <span>34865</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>2</b>
            </span>
            <span>长沙幸福时光国际</span>
            <span>13523</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>3</b>
            </span>
            <span>湖南新麦乐国际</span>
            <span>11692</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>4</b>
            </span>
            <span>湖南益阳平安国际</span>
            <span>8964</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>5</b>
            </span>
            <span>株洲市火车头旅行社</span>
            <span>6881</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>6</b>
            </span>
            <span>岳阳宝中旅游国际</span>
            <span>6811</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>7</b>
            </span>
            <span>岳阳康辉国际</span>
            <span>5387</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>8</b>
            </span>
            <span>湘潭潇湘风情</span>
            <span>5101</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>9</b>
            </span>
            <span>湖南湘聚天下国际</span>
            <span>4966</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>10</b>
            </span>
            <span>岳阳海航乐游国际</span>
            <span>1169</span>

        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>11</b>
            </span>
            <span>湖南研学旅文化传媒</span>
            <span>827</span>

        </div>
    </li>
     <li>
        <div class="fontInner clearfix">
            <span>
                <b>12</b>
            </span>
            <span>衡阳市飞扬国际</span>
            <span>798</span>

        </div>
    </li>

</ul>

                                    </div>
                                </div>


                            </div>
                            <div class="right-cen border">
                                <div class="title">消费板块占比</div>
                                <div class="right-cen-cent">
                                    <div id="chart2" class="allnav"></div>
                                </div>

                            </div>
             <div class="right-top rightTop border">
                             <div class="title">旅行景区人流量排行</div>

                 <div class="echart wenzi">
                                    <div class="gun">
                                    <span>排名</span>
                                    <span>旅行景区名称</span>
                                    <span>人流量</span>
                                </div>
                                    <div id="FontScroll" class="myscroll">
                                         <ul>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>1</b>
            </span>
            <span>石燕湖</span>
            <span>150319</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>2</b>
            </span>
            <span>天空廊桥</span>
            <span>天空廊桥</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>3</b>
            </span>
            <span>游船摆渡</span>
            <span>105637</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>4</b>
            </span>
            <span>观光车</span>
            <span>49889</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>5</b>
            </span>
            <span>空中漂流</span>
            <span>34023</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>6</b>
            </span>
            <span>大门票</span>
            <span>15970</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>7</b>
            </span>
            <span>长沙城表演</span>
            <span>9344</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>8</b>
            </span>
            <span>妇女节半价票</span>
            <span>5825</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>9</b>
            </span>
            <span>拓展体验游</span>
            <span>4873</span>
        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>10</b>
            </span>
            <span>飞索</span>
            <span>3553</span>

        </div>
    </li>
    <li>
        <div class="fontInner clearfix">
            <span>
                <b>11</b>
            </span>
            <span>天空漂流</span>
            <span>3358</span>

        </div>
    </li>
     <li>
        <div class="fontInner clearfix">
            <span>
                <b>12</b>
            </span>
            <span>龙舟</span>
            <span>龙舟</span>

        </div>
    </li>

</ul>

                                    </div>
                                </div>


                            </div>
            </div>
                        </div>
                    </div>


</div>

   <!-- 消费模块-消费金额 开始-->
<script>
    var chartDom = document.getElementById('www');
var myChart = echarts.init(chartDom, 'dark');
var option;

option = {
    title: {
        text: '团队主要消费分部情况',
        subtext: '团队结算明细',
        left: 'center'
    },
    tooltip: {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
    },
    series: [
        {
            name: '业务模块',
            type: 'pie',
            radius: '50%',
            data: [
                {value: {{cateringTotal}}, name: '{{moduleName[0]}}'},
                {value: {{guidTotal}}, name: '{{moduleName[1]}}'},
                {value: {{hotelTotal}}, name: '{{moduleName[2]}}'},
                {value: {{meetingTotal}}, name: '{{moduleName[3]}}'},
                {value: {{otherTotal}}, name: '{{moduleName[4]}}'},
                {value: {{partyTotal}}, name: '{{moduleName[5]}}'},
                {value: {{ticketTotal}}, name: '{{moduleName[6]}}'},
                {value: {{trainingTotal}}, name: '{{moduleName[7]}}'}
            ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

option && myChart.setOption(option);
</script>
  <!-- 消费模块-消费金额 结束-->

<!-- 地图模块-消费金额 开始-->
<script>
        // 初始化echarts实例
        var myEcharts = echarts.init(document.getElementById("box22"));
        var option = {
            title: {  //标题样式
                text: '中国各省旅游人流量分布',
                x: "center",
                textStyle: {
                    fontSize: 18,
                    color: "blue"
                },
            },
            tooltip: {  //这里设置提示框
                trigger: 'item',  //数据项图形触发
                backgroundColor: "red",  //提示框浮层的背景颜色。
                //字符串模板(地图): {a}（系列名称），{b}（区域名称），{c}（合并数值）,{d}（无）
                formatter: '地区：{b}<br/>人流量：{c}'
            },
            visualMap: {//视觉映射组件
                top: 'center',
                left: 'left',
                min: 10,
                max: 500000,
                text: ['High', 'Low'],
                realtime: false,  //拖拽时，是否实时更新
                calculable: true,  //是否显示拖拽用的手柄
                inRange: {
                    color: ['lightskyblue', 'yellow', 'orangered']
                }
            },
            series: [
                {
                    name: '人流量',
                    type: 'map',
                    mapType: 'china',
                    roam: false,//是否开启鼠标缩放和平移漫游
                    itemStyle: {//地图区域的多边形 图形样式
                        normal: {//是图形在默认状态下的样式
                            label: {
                                show: true,//是否显示标签
                                textStyle: {
                                    color: "black"
                                }
                            }
                        },
                        zoom: 1.5,  //地图缩放比例,默认为1
                        emphasis: {//是图形在高亮状态下的样式,比如在鼠标悬浮或者图例联动高亮时
                            label: { show: true }
                        }
                    },
                    top: "3%",//组件距离容器的距离
                    data: [

                            { name: '湖南', value: 54148 },
                        { name: '江西', value: 6854 },
                        { name: '湖北', value: 1213 },
                        { name: '河南', value: 495 },
                        { name: '四川', value: 413 },
                        { name: '广东', value: 344 },
                        { name: '贵州', value: 233 },
                        { name: '安徽', value: 216 },
                        { name: '河北', value: 195 },

                        { name: '陕西', value: 186 },
                        { name: '江苏', value: 182 },
                        { name: '福建', value: 172 },
                        { name: '浙江', value: 159 },
                        { name: '山东', value: 153 },
                        { name: '甘肃', value: 109 },

                        { name: '山西', value: 105 },
                        { name: '辽宁', value: 97 },
                        { name: '云南', value: 92 },
                        { name: '吉林', value: 91 },
                        { name: '青海', value: 48 },
                        { name: '海南', value: 30 },

                        { name: '新疆', value: 0 },
                        { name: '西藏', value: 0 },
                        { name: '内蒙古', value: 0 },
                        { name: '黑龙江', value: 0 },
                        { name: '宁夏', value: 0 },
                        { name: '广西', value: 0 },
                        { name: '北京', value: 0 },
                        { name: '天津', value: 0 },
                        { name: '重庆', value: 0 },




                    ]
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myEcharts.setOption(option);
    </script>
 <!-- 地图模块-消费金额 结束-->


 <!-- test 景区排行榜模块-消费金额 开始-->
 <script type="text/javascript">
var dom = document.getElementById("main");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {

    color:['#3398DB'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {
        left: '3%',
        right:'4%',
        bottom:'3%',
        containLabel:true
    },
    xAxis: {
        type: 'category',
        data: {{ AGENT_ACCOUNTNAME }}
        <!--['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun','999']-->
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: {{ MAN }},
            <!--[120, 20, 150, 80, 70, 110, 130,200],-->
        barWidth:'60%',
        type:'bar'
    }]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
 <!-- test 景区排行榜模块-消费金额 结束-->
 <!-- test 饼图模块-消费金额 开始-->
<script>

    var chartDom = document.getElementById('ffff');
var myChart = echarts.init(chartDom);
var option;

option = {
    title: {
        text: '某站点用户访问来源',
        subtext: '纯属虚构',
        left: 'center'
    },
    tooltip: {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
    },
    series: [
        {
            name: '访问来源',
            type: 'pie',
            radius: '50%',
            data: [
                {value: 1048, name: '搜索引擎'},
                {value: 735, name: '直接访问'},
                {value: 580, name: '邮件营销'},
                {value: 484, name: '联盟广告'},
                {value: 300, name: '视频广告'}
            ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

option && myChart.setOption(option);
</script>
<!-- test 饼图模块-消费金额 结束-->

<script src="../static/before/js/jquery.min.js"></script>
<script src="https://www.jq22.com/jquery/echarts-4.2.1.min.js"></script>
<script src="../static/before/js/echarts.js"></script>
<script src="../static/before/js/wodry.min.js"></script>
<script src="../static/before/js/fontscroll.js"></script>
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="http://cdn.zaixianke.com/china.js"></script>
<!--<script src="js/mymap.js"></script>-->
<script>
    /*$('#ceshi').wodry({
        animation: 'rotateX',
        delay: 1000,
        animationDuration: 800
    });*/
    /*window.onload = function () {
        setInterval(function () {
            var hs=document.getElementById("ceshi");
            var hstyle=hs.style.transform;
            if(hstyle=='rotateX(-360deg)'){
                //console.log(1)
                hs.style.transform='rotateX(0deg)';
                hs.style.transform='transform 500ms cubic-bezier(0.55, 0.18, 0.92, 0.46) 0s;'
            }else {
                hs.style.transform='rotateX(-360deg)';
                hs.style.transition="all 2s";
            }
        }, 5000);
    };*/
    var counter = 3000;
    var ulist=document.getElementById("ceshi").getElementsByTagName("li");
    for (var i=0;i<ulist.length;i++){
        //console.log(ulist[i].className);
        var liclass=ulist[i].className;
        var a= $('.'+liclass+'').wodry({
            animation: 'rotateX',
            delay: counter,
            animationDuration: 1000
        });
        if(counter>3050){
            counter=3000;
        }else {
            counter +=10;
        }
        //console.log(counter);

    }

    //顶部时间
    function getTime(){
        var myDate = new Date();
        var myYear = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
        var myMonth = myDate.getMonth()+1; //获取当前月份(0-11,0代表1月)
        var myToday = myDate.getDate(); //获取当前日(1-31)
        var myDay = myDate.getDay(); //获取当前星期X(0-6,0代表星期天)
        var myHour = myDate.getHours(); //获取当前小时数(0-23)
        var myMinute = myDate.getMinutes(); //获取当前分钟数(0-59)
        var mySecond = myDate.getSeconds(); //获取当前秒数(0-59)
        var week = ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'];
        var nowTime;

        nowTime = myYear+'-'+fillZero(myMonth)+'-'+fillZero(myToday)+'&nbsp;&nbsp;'+fillZero(myHour)+':'+fillZero(myMinute)+':'+fillZero(mySecond)+'&nbsp;&nbsp;'+week[myDay]+'&nbsp;&nbsp;';
        //console.log(nowTime);
        $('#time').html(nowTime);
    };
    function fillZero(str){
        var realNum;
        if(str<10){
            realNum    = '0'+str;
        }else{
            realNum    = str;
        }
        return realNum;
    }
    setInterval(getTime,1000);

</script>

</body>
</html>